extends layout

block content
    h1#title Demo Start Page
    form(onsubmit='return popoutMentor()')
      h2 Mentor Log-in
      br
      | Name: 
      input#mentorName(type='text', name='user')
      br
      br
      input(type='submit', value='Enter')
    br
    br
    br
    form(onsubmit='return popoutNinja()')
      h2 Ninja Entry
      br
      |	Name: 
      input#ninjaName(type='text', name='user')
      br
      br
      input(type='submit', value='Enter')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script.
      function popoutMentor() {
      var url = "Mentor?user=" + $("#mentorName").val();
      var w = window.open(url, "_blank", "status=no, menubar=no, titlebar=no, toolbar=no, location=no, width=300, height=620, scrollbars=yes", false);
      return w?false:true;
      }
      function popoutNinja() {
      var url = "Ninja?user=" + $("#ninjaName").val();
      var w = window.open(url, "_blank", "status=no, menubar=no, titlebar=no, toolbar=no, location=no, width=300, height=620, scrollbars=yes", false);
      return w?false:true;
      }

